[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
allow_prereleases = false

[dev-packages]
pysnooper = "*"

[packages]
django = "==2.2.16"
ansible = "==2.9.10"
mysqlclient = "*"
channels = "*"
coreapi = "*"
djangorestframework = "*"
django-redis = "*"
django-simple-captcha = "*"
django-crispy-forms = "*"
redis = "*"
channels-redis = "*"
future = "*"
django-formtools = "*"
httplib2 = "*"
django-import-export = "==2.4.0"
paramiko = "*"
uwsgi = "*"
celery = "*"
pycryptodomex = "*"
qrcode = "*"
cryptography = "*"
pillow = "*"

[requires]
python_version = "3.7"
