[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
allow_prereleases = false

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2.13"
ansible = "==2.9.5"
mysqlclient = "*"
channels = "*"
coreapi = "*"
djangorestframework = "*"
django-redis = "*"
django-simple-captcha = "*"
django-crispy-forms = "*"
redis = "*"
channels-redis = "*"
future = "*"
django-formtools = "*"
httplib2 = "*"
django-import-export = "*"
paramiko = "*"
uwsgi = "*"
celery = "*"
pycryptodomex = "*"

[requires]
python_version = "3.7"
