- name: install deploy package
  yum:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
     - unzip
     - bzip2
- name: unarchive jemalloc
  unarchive:
#    src: jemalloc-{{ jemalloc_ver }}.tgz
    src: "https://downloads.yunzmall.com/playbook_source/jemalloc/jemalloc-{{ jemalloc_ver }}.tgz"
    dest: /usr/local/
    remote_src: yes
- name: link libray
  file:
    src: /usr/local/jemalloc/lib/libjemalloc.so.2
    dest: /usr/lib64/libjemalloc.so.1
    state: link
#- name: jude jemalloc lib folder exist or not
#  shell: ls /usr/local/lib/libjemalloc.so.2
#  ignore_errors: True
#  register: lib_result
- name: link all libray so
  file:
    src: /usr/local/jemalloc/lib/libjemalloc.so.2
    dest: /usr/local/lib/libjemalloc.so.2
    state: link
#  when: lib_result.failed == true
#  when: lib_result is failure
#- name: touch library file
#  file:
#    path: /etc/ld.so.conf.d/jemalloc.conf
#    state: touch
# - name: create library configure
#   lineinfile:
#     dest: /etc/ld.so.conf.d/jemalloc.conf
#     state: present
#     regexp: '^/usr/local/jemalloc/lib$'
#     line: '/usr/local/jemalloc/lib'
- name: apply library
  shell: ldconfig
